@theme {
  /* Nav Icons Colors */
  --color-icon-orange: #f97316;
  --color-icon-pink: #ec4899;
  --color-icon-yellow: #facc15;
  --color-icon-sky: #0284c7;
  /* NavBar Animations */
  --animate-fade-down-nav: fadeDownNav 8s ease-in-out;

  @keyframes fadeDownNav {
    0%,
    20% {
      transform: translateY(-40px);
      opacity: 0%;
      border-color: transparent;
    }
    30% {
      transform: translateY(0);
      opacity: 80%;
    }
    95% {
      border-color: transparent;
    }
  }

  @keyframes fadeInNavItemOrange {
    0%,
    50% {
      opacity: 0%;
      color: white;
    }
    70% {
      opacity: 100%;
    }
    90% {
      opacity: 20%;
      color: #f97316;
    }
  }
  @keyframes fadeInNavItemPink {
    0%,
    50% {
      opacity: 0%;
      color: white;
    }
    70% {
      opacity: 100%;
    }
    90% {
      opacity: 20%;
      color: #ec4899;
    }
  }
  @keyframes fadeInNavItemYellow {
    0%,
    50% {
      opacity: 0%;
      color: white;
    }
    70% {
      opacity: 100%;
    }
    90% {
      opacity: 20%;
      color: #facc15;
    }
  }
  @keyframes fadeInNavItemSky {
    0%,
    50% {
      opacity: 0%;
      color: white;
    }
    70% {
      opacity: 100%;
    }
    90% {
      opacity: 20%;
      color: #0284c7;
    }
  }
}
