@theme {
  /* Nav Icons Colors */
  --color-icon-orange: #fdba74;
  --color-icon-pink: #f9a8d4;
  --color-icon-yellow: #facc15;
  --color-icon-sky: #7dd3fc;
  /* NavBar Animations */
  --animate-fade-down-nav: fadeDownNav 1s ease-in-out;
  --animate-pulse-icon: pulseIcon 2s infinite ease-in-out;

  @keyframes fadeDownNav {
    0%,
    25% {
      transform: translateY(-20px);
      opacity: 0%;
    }
    75% {
      transform: translateY(0px);
      opacity: 70%;
    }
  }

  @keyframes pulseIcon {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 60%;
    }
    100% {
      opacity: 80%;
    }
  }
}
