@import "tailwindcss";
@import "./components/NavBar/navbar.css";
@plugin "@midudev/tailwind-animations";
@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }
  body {
    @apply relative min-h-screen w-full overflow-hidden font-inter text-white antialiased;
    background-image: url("/shader-purple.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom Tailwind Theme */
@theme {
  /* Fonts */
  --font-inter: "Inter", "sans-serif";
  --font-playfair-display: "Playfair Display", "sans-serif";
  --text-title: clamp(2rem, 6vw + 1rem, 7rem);
  --text-subtitle: clamp(1rem, 2vw + 1rem, 3rem);
  --text-paragraph: clamp(0.5rem, 1vw + 1rem, 2rem);
  /* Animations */
  --animate-rubberBand: rubber-band 1s ease-in-out infinite 1s;
}

/* 3D Model Styles */
@keyframes fadeIn3D {
  0%,
  40% {
    opacity: 1;
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#three-canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  pointer-events: none;
  /* animation: fadeIn3D 3s ease-in-out; */
}

#scroller {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Background Shader */
#background {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: -2;
  animation: fadeInBackground 2s ease-in-out;
}
