@import "tailwindcss";
@import "./components/NavBar/navbar.css";
@layer base {
  /* Reset box-sizing para todos los elementos */
  *,
  *::before,
  *::after {
    @apply box-border;
  }
  body {
    @apply relative min-h-screen w-full overflow-hidden font-inter text-white antialiased;
    background-image: url("/shader-purple.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom Tailwind Theme */
@theme {
  /* Fonts */
  --font-inter: "Inter", "sans-serif";
  --font-playfair-display: "Playfair Display", "sans-serif";
  --text-title: clamp(2rem, 6vw + 1rem, 7rem);
  --text-subtitle: clamp(1rem, 2vw + 1rem, 3rem);
  --text-paragraph: clamp(0.5rem, 1vw + 1rem, 2rem);
  /* Simple Animations */
  --animate-fade-in: fadeIn 1s ease-in-out;
  --animate-fade-up: fadeUp 1s ease-in-out;
  --animate-fade-right: fadeRight 1s ease-in-out;
  --animate-fade-down: fadeDown 1s ease-in-out;
  --animate-fade-left: fadeLeft 1s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeUp {
    0% {
      transform: translateY(20px);
      opacity: 0%;
    }
    25% {
      opacity: 0%;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes fadeRight {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeDown {
    0% {
      transform: translateY(-20px);
      opacity: 0%;
    }
    25% {
      opacity: 0%;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes fadeLeft {
    0% {
      transform: translateX(20px);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }
}

/* 3D Model Styles */
@keyframes fadeIn3D {
  0%,
  40% {
    opacity: 1;
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
  }
}

#three-canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  pointer-events: none;
  animation: fadeIn3D 5s ease-in-out;
}

#scroller {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Background Shader */
#background {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: -2;
  animation: fadeIn 1s ease-in-out;
}
